<h4>Search Files</h4>
<br>

<div class="col-lg-6">
    <div class="input-group">
        <input type="text" class="form-control" ng-model="value" placeholder="Search for Code...">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="searchFiles(value)">Search!</button>
            <button class="btn btn-danger" type="button" ng-click="deleteFiles(value)">Delete!</button>
      </span>
    </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
<div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>File Name</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in files">
            <td>{{file}}</td>
        </tr>

        </tbody>
    </table>

</div>